.navbut {
  height: 2.5em;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav {
  color: #fffffe;
}

.nav:hover {
  color: #fffffe !important;
}

.title, .sub-title {
  font-size: 1.5em;
}

.sub-title {
  margin-top: 3px;
}

.explanation-two {
  font-size: 1em;
  text-align: center;
}

.motto {
  font-size: 1.7em;
  text-align: center;
  margin-top: 1em;
}
